version: '3.9'

services:
  postgres:
    image: postgres:14
    container_name: nftopia-postgres
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: nftopia-redis
    restart: unless-stopped
    ports:
      - '6379:6379'

volumes:
  postgres_data:
